.shipment-row {
    transition: background-color 0.2s ease-in-out;
}

.shipment-row:hover {
    background-color: rgba(166, 255, 203, 0.1);
}

.action-button {
    color: #A6FFCB;
}

.view-all-button {
    color: #A6FFCB;
}

.empty-icon {
    opacity: 0.3;
}

.slds-badge.slds-theme_warning {
    background-color: #FFC168;
    color: #080707;
}

.slds-badge.slds-theme_info {
    background-color: #A6FFCB;
    color: #080707;
}

.slds-badge.slds-theme_success {
    background-color: #4BCA81;
    color: #ffffff;
}

.slds-badge.slds-theme_error {
    background-color: #EA001E;
    color: #ffffff;
}

.slds-badge.slds-theme_alert-texture {
    background-color: #FFB75D;
    color: #080707;
}